{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post" onsubmit="return check();">
        {% if not symbols %}
        <p>No shares to sell</p>
        {% endif %}

        {% if symbols %}
        <div class="form-group">
            <p id = "message"></p>
        <select name="symbol">
            {% for i in symbols %}
                <option value = "{{i.symbol}}">{{i.symbol}}</option>
            {% endfor%}
        </select>
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" id = "shares" name="shares" placeholder="Shares" type="text" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" pattern="^[0-9]+$" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
        {% endif %}
    </form>

    <script>
    function check(){
    var shares = document.getElementById("shares");
    var message = document.getElementById("message");

        if(shares.value <= 0){
            document.querySelector("#message").innerHTML = ("Кол-во акций не может быть меньше либо равным 0");
            document.querySelector("#message").style.backgroundColor = ("red");
            message.style.cssText =
            "color: #DC143C;text-align: center;  margin-left: auto; margin-right: auto;";
            return false;
        }

    }

    </script>


{% endblock %}
